<div class="container">
	<h3>Users</h3>
	<table class="table">
		<caption>Listado de Usuarios</caption>
		<thead>
			<tr>
				
				<th>Nom</th>
				<th>Cognoms</th>
				<th>Email</th>
				<th>Grup</th>
				<th>Junta</th>
				<th>Porlat</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% _.each(users, function(user){ %>
			<tr data-id="<%= user.id %>" data-model="user">
				
				<td><%= user.name %></td>
				<td><%= user.lastName %></td>
				<td><%= user.email %></td>
				<td><%= user.grup %></td>
				<% if(user.junta) { %>
					<td><img src="/images/ok3.png" width="32" heigth="32"></td>
				<% }else{ %>
					<td><img src="/images/cancel3.png" width="32" heigth="32"></td>
				<% } %>
				<% if(user.porlado) { %>
					<td><img src="/images/ok3.png" width="32" heigth="32"></td>
				<% }else{ %>
					<td><img src="/images/cancel3.png" width="32" heigth="32"></td>
				<% } %>
				<td><a href="/users/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
				<td><a href="/users/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
				<td>
					<form action="/users/destroy/<%= user.id %>" method="POST">
						<input type="hidden" name="_method" value="delete"/>
						<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
						<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
					</form>
				</td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>